<ion-content class="ion-padding">
  <div id="filter-content">
    <ion-button (click)="openFilterMenu()" color="secondary">
      <ion-icon name="filter"></ion-icon>
      Filtro
    </ion-button>
  </div>

  <ion-list lines="none" class="ion-no-padding">
    <ion-row class="ion-no-padding" *ngFor="let product of products">
      <ion-card>
        <ion-card-header>
          <ion-row class="ion-justify-content-between">
            <ion-col size="6" class="ion-no-padding">
              <ion-card-title class="wrap-text">{{ product.name | titlecase }}</ion-card-title>
            </ion-col>
            <ion-col size="5">
              <ion-label>
                Quantidade: {{ product.amount }}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-grid class="ion-padding-bottom">
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-card-subtitle>
                {{ product.price | currency: 'R$':'symbol':'.2-2' }}
              </ion-card-subtitle>
            </ion-row>
          </ion-grid>
          <ion-buttons class="ion-justify-content-end">
            <ion-button fill="solid" color="secondary">Editar</ion-button>
            <ion-button fill="outline" color="danger" class="ion-padding-start">Excluir</ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-list>
</ion-content>


<ion-menu menuId="filter-menu" contentId="filter-content">
  <ion-content class="ion-padding">
    <ion-button (click)="closeFilterMenu()" fill="clear">
      <ion-icon name="close"></ion-icon>
      Filtro
    </ion-button>

    <div class="ion-margin-horizontal ion-margin-top">
      <ion-label>Quantidade</ion-label>
      <ion-range class="ion-padding-vertical" aria-label="Dual Knobs Range" [pin]="true" [dualKnobs]="true"
        [value]="{ lower: 20, upper: 80 }">
      </ion-range>
    </div>

    <div class="ion-margin-horizontal">
      <ion-label>Preço</ion-label>
      <ion-range class="ion-padding-vertical" aria-label="Dual Knobs Range" [pin]="true" [dualKnobs]="true"
        [value]="{ lower: 20, upper: 80 }">
      </ion-range>
    </div>
  </ion-content>

  <ion-button (click)="closeFilterMenu()" color="secondary">
    <ion-icon name="filter"></ion-icon>
    Filtrar
  </ion-button>
</ion-menu>