<ion-tabs (ionTabsWillChange)="ionTabsChange($event)">
  <ion-header>
    <ion-toolbar>
      <app-header [title]="this.title"></app-header>
    </ion-toolbar>
  </ion-header>

  <app-menu></app-menu>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="estoque">
      <ion-icon aria-hidden="true" name="archive"></ion-icon>
      <ion-label>Estoque</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="caixa" color="secondary">
      <ion-icon aria-hidden="true" name="cash"></ion-icon>
      <ion-label>Caixa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" color="secondary">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Usuário</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
