<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row class="ion-justify-content-between">
          <ion-col size="8">
            <ion-label>teste teste teste teste teste teste</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label>R$ 0000,00</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-label color="primary">Finalizar compra</ion-label>
      </ion-fab-button>
      <ion-fab-button>
        <ion-label color="primary">Adicionar produto</ion-label>
      </ion-fab-button>
      <ion-fab-button>
        <ion-label color="primary">Cancelar compra</ion-label>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
