<ion-content color="light" class="ion-padding">
  <ion-grid>
    <ion-row>
      <figure class="container-figure">
        <img class="logo" src="assets/images/logo-epdv-dark.svg" alt="Logo ePDV">
      </figure>
    </ion-row>

    <ion-row class="container-content">
      <h2 class="title">Bem-vindo</h2>
      <p class="paragraph">
        Potencialize seu negócio com facilidade: 
        Administre suas vendas e estoque
        com um click
      </p>
      <div class="buttons">
        <ion-button color="secondary" expand="block" (click)="navigate('auth/login')">entrar</ion-button>
        <ion-button color="secondary" (click)="navigate('auth/register')">cadastrar</ion-button>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>